# Python Tutorial

## Well come to Python Tutorial

## . Data Types

In [2]:
2*10

20

In [3]:
10%2

0

In [4]:
10**2

100

In [6]:
## Check the data types

In [7]:
10*'str'

'strstrstrstrstrstrstrstrstrstr'

In [11]:
type (1.20)

float

In [27]:
type (True )

bool

In [32]:
# String

In [33]:
type (1)

int

## String Manupulation

In [39]:
type ( 'this is aziz')

str

## Variable Assignment

In [40]:
# Syntex
# var_name values
a=10
type(a)

int

In [42]:
print(a)

10

In [43]:
a=20
b=30
print (a+b)
print (a*b+a)

50
620

In [44]:
print (a/b)

0.6666666666666666

In [70]:
first_name ='Azizul'
middle_name='Hoque'
last_name='Bhuyan'

In [62]:
print("My Name",first_name,Last_name)

My Name Azizul Hoque Bhuyan

In [76]:
print("My first name is {} and middle name is {} and last name {}" 
      .format(first_name,middle_name,last_name))

My first name is Azizul and middle name is Hoque and last name Bhuyan

In [81]:
print("My first name is {last} and middle name is {first} and last name {middle}" 
      .format(middle=first_name,last=middle_name,first=last_name))

My first name is Hoque and middle name is Bhuyan and last name Azizul

In [84]:
len(last_name)

6

In [86]:
type([1,2])

list

## BOOLEAN VARIABLE

In [87]:
my_string='Azizul Hoque Bhuyan'

In [100]:
print(my_string.isalnum()) # check if all character are numbers
print(my_string.isalpha()) # check if all character in the string are alphabetitc
print(my_string.isdigit()) # test if string contain digit
print(my_string.istitle()) # test if string contain title words
print(my_string.isupper()) # test if string contain upper case
print(my_string.islower()) # test if string contain lower case
print(my_string.isspace()) # test if string contain spaces
print(my_string.endswith('n')) # test if string end with n
print(my_string.startswith('H')) # test if string start with H

False
False
False
True
False
False
False
True
False

#Boolean Logical Operator

In [101]:
first_name.isalpha() or middle_name.isnum()

True

## LIST

In [103]:
list_example=[]

In [104]:
type(list_example)

list

In [105]:
ist=list()

In [106]:
type(ist)

list

In [161]:
ist=['abscd',124,'test123','tst12']

In [162]:
print(ist)

['abscd', 124, 'test123', 'tst12']

In [163]:
len(ist)

4

In [132]:
print(ist[3])

tst12

## Append

In [164]:
ist.append('Physics')

In [166]:
print(ist)

['abscd', 124, 'test123', 'tst12', 'Physics']

Indexing

In [136]:
ist[4]

'Physics'

In [137]:
ist[:]

['abscd', 124, 'test123', 'tst12', 'Physics']

In [138]:
ist[1:]

[124, 'test123', 'tst12', 'Physics']

In [139]:
ist[1:4]

[124, 'test123', 'tst12']

In [140]:
ist[:3]

['abscd', 124, 'test123']

In [143]:
ist[0:1]

['abscd']

# Insert

In [167]:
ist.append(["Ahmed","Karim"])

In [168]:
ist

['abscd', 124, 'test123', 'tst12', 'Physics', ['Ahmed', 'Karim']]

In [171]:
ist[5]

['Ahmed', 'Karim']

In [172]:
ist.insert(2,"Aziz")

In [173]:
ist

['abscd', 124, 'Aziz', 'test123', 'tst12', 'Physics', ['Ahmed', 'Karim']]

In [174]:
ist.append(["Hello word"])

In [175]:
ist

['abscd',
 124,
 'Aziz',
 'test123',
 'tst12',
 'Physics',
 ['Ahmed', 'Karim'],
 ['Hello word']]

In [194]:
ist=[1,2,3]

In [195]:
ist

[1, 2, 3]

In [196]:
ist.append([4,5])

In [197]:
ist

[1, 2, 3, [4, 5]]

# Extend method

In [198]:
ist.extend([6,7])

In [199]:
ist

[1, 2, 3, [4, 5], 6, 7]

In [200]:
ist=[1,2,3,4,5]

In [201]:
ist.extend([10,11])

In [202]:
ist

[1, 2, 3, 4, 5, 10, 11]

# Other operation

In [203]:
sum(ist)

36

# POP method

In [204]:
ist.pop()

11

In [205]:
ist

[1, 2, 3, 4, 5, 10]

In [206]:
ist.pop(2)

3

In [207]:
ist

[1, 2, 4, 5, 10]

In [212]:
ist.count(2)

1

In [213]:
len(ist)

5

In [214]:
ist.index(2)

1

# Calculate total occurance of given element of list

In [245]:
ist=[1,5,2,1,4,5]

In [236]:
ist.count(1)

3

In [237]:
len(ist)

6

In [246]:
ist.index(5,1,6)

1

In [248]:
max(ist)

5

In [249]:
print(ist*2)

[1, 5, 2, 1, 4, 5, 1, 5, 2, 1, 4, 5]