## Defining an Empty set = A set is and unorder collection of Data type that is iterable mutable and has no duplicate value,.Python's set class represent the mathematical notion of a set. This is based of Data structure know as hash table.

In [2]:
set_var=set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [3]:
set_var={1,2,3,4,3}

In [4]:
set_var

{1, 2, 3, 4}

In [7]:
set_var={"Avengers","Iron Man","Hitman","Iron Man"}
print(set_var)
type(set_var)

{'Iron Man', 'Hitman', 'Avengers'}

set

In [10]:
# Indexing

#set_var['avengers']

# No Indexing in Set so it will POP up error

In [17]:
## Inbuilt function in set
set_var.add("Hulk")
print(set_var)

{'Iron Man', 'Hitman', 'Avengers', 'Hulk'}

In [27]:
set1={"Avengers","Iron Man","Hitman","SpyderMan"}
set2={"Avengers","Iron Man","Hitman","Hulk2"}

In [22]:
set2.difference(set1)

{'Hulk2'}

In [24]:
set2

{'Avengers', 'Hitman', 'Hulk2', 'Iron Man'}

In [28]:
set2.union(set1)

{'Avengers', 'Hitman', 'Hulk2', 'Iron Man', 'SpyderMan'}

In [30]:
set2.intersection_update(set1)

In [31]:
set2

{'Avengers', 'Hitman', 'Iron Man'}

## Dictionaries = it is collection which in unorder , changeable and indexed in Python Dic is written with curly bracket and they have kyes and values

In [35]:
dic={}

In [36]:
type(dic)

dict

In [37]:
set_ex={1,2,3,4,5}

In [39]:
type(set_ex)

set

# Let create dictionary

In [40]:
type(dic)

dict

In [66]:
my_dic={"Car1":"Audi","Car2":"BMW","Car3":"Mercedez Benz"}

In [83]:
## Access the values based on key
my_dic['Car2']

'BMW'

In [92]:
for i in my_dic.values():
    print(i)
    
# Loop through the dictionaries values

Audi
BMW
Mercedez Benz

In [98]:
# check both keys and values

for i in my_dic.items():
    print(i)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Mercedez Benz')

In [99]:
# addin items in dictionaries
my_dic["Car4"]="Toyota"

In [100]:
my_dic

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercedez Benz', 'Car4': 'Toyota'}

In [101]:
for i in my_dic.items():
    print(i)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Mercedez Benz')
('Car4', 'Toyota')

In [104]:
my_dic["Car1"]="Maruti"
#updating or replacing values in key index

In [105]:
my_dic

{'Car1': 'Maruti', 'Car2': 'BMW', 'Car3': 'Mercedez Benz', 'Car4': 'Toyota'}

# Nested Dictionary

In [108]:

car1_model={"Mercedez Benz":1950}
car2_model={"Audi":1990}
car3_model={"Ambassedor":2000}

car_type= {'car1':car1_model,'car2':car2_model,'car3':car3_model}

In [109]:
print(car_type)

{'car1': {'Mercedez Benz': 1950}, 'car2': {'Audi': 1990}, 'car3': {'Ambassedor': 2000}}

In [116]:
# accessing the item of the dictionary 

print(car_type['car1'])

{'Mercedez Benz': 1950}

In [120]:
for i in car_type.items():
    print(i)

('car1', {'Mercedez Benz': 1950})
('car2', {'Audi': 1990})
('car3', {'Ambassedor': 2000})

In [124]:
print(car_type['car1']['Mercedez Benz'])

1950

In [125]:
for i in car_type:
    print(i)

car1
car2
car3

## Tuples

In [126]:
# Create an empty Tuples
my_tuple=tuple

In [127]:
type(my_tuple)

type

In [128]:
my_tuple=("Aziz","Turan","Arif")

In [171]:
print(my_tuple[1])

Turan

In [173]:
print (type(my_tuple))
my_tuple.count('Aziz')

<class 'tuple'>

1

In [175]:
my_tuple.index('Arif')

2

In [212]:
for i in my_tuple:
    print(i)
    if i=='Turan':
        break
else:
    print('No entry with that name found.')

Aziz
Turan